:root{
--Dark-Violet: hsl(256, 26%, 20%);
--Grayish-Blue: hsl(216, 30%, 68%);

--Very-Dark-Violet: hsl(270, 9%, 17%);
--Dark-Grayish-Violet: hsl(273, 4%, 51%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}

*,*::before, *::after{
    box-sizing: border-box;
}
html{
    block-size: 100%;
    inline-size: 100%;
}

body{
    min-block-size: 100%;
    min-inline-size: 100%;
    
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8.75rem;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    background-color: #f2f2f2;

    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 531px;
        block-size: 680px;
        inline-size: 100%;
        pointer-events: none;
        background: url('../../images/bg-pattern-intro-left-mobile.svg'), url('../../images/bg-pattern-intro-right-mobile.svg');
        background-repeat: no-repeat;
        background-position: top left, bottom right;
        

        @include tabplus{
            top: 80px;
            block-size: 1063px;
            background: url('../../images/bg-pattern-intro-left-desktop.svg'), url('../../images/bg-pattern-intro-right-desktop.svg');
            background-repeat: no-repeat;
            background-position: 0% 68.5%, 100% 0%;
            background-size: auto 35%, auto 50%;
        }
    }
}

h1, h2, h3, h4,h5{
    margin: 0;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
    line-height: 26px;
}

.btn{
    border: 1.5px solid white;
    padding: .75rem 1.75rem;
    font-size: .8125rem;
    letter-spacing: 1.5px;
    font-weight: 700;
    background: none;
    color: white;
    cursor: pointer;
    transition: 300ms all ease;

    &:hover{
       background-color: white;
       color: var(--Very-Dark-Violet);
    }
    &:active{
        transform: scale(0.98);
    }
}

ul, li{
    inline-size: 100%;
}

a.highlight-btn{
    color: white;
    border: 1.5px solid white;
    text-transform: uppercase ;
    letter-spacing: 1.5px;
    font-size: .8125rem;
    padding: .8125rem 1.5625rem;
    transition: all 300ms ease;

    &:hover{
        background-color: white;
        color: var(--Dark-Violet);
    }
}