.header{
    inline-size: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__hero{

        @include tabplus{
            inline-size: 100%;
            block-size: 37.5rem;
           
            background-color: var(--Dark-Violet);
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;

            // background-image: url('../../images/bg-pattern-intro-left-desktop.svg');
            // background-repeat: no-repeat;
            // background-position: 0% 200%;
        }

        &__wrapper{
            @include tabplus{
                inline-size: 100%;
                max-inline-size: 69.375rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                block-size: 100%;
            }
        }

        &__image{
            block-size: 28.1875rem;
            inline-size: 100%;
            background: url('../../images/image-intro-mobile.jpg');
            background-repeat: no-repeat;
            background-size: cover;

            @include tabplus{
                inline-size: 33.75rem;
                block-size: 650px;
                position: absolute;
                right: 10.3125rem;
                top: 6.5625rem;
            }
        }

        &__description{
            padding: 5.8125rem 1.5rem;
            inline-size: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            color: white;
            background-color: var(--Dark-Violet);
            // background-image: url('../../images/bg-pattern-intro-left-mobile.svg'), url('../../images/bg-pattern-intro-right-mobile.svg');
            // background-repeat: no-repeat;
            // background-position: 0% 0%, 100% 206%;
            position: relative;

            @include tabplus{
                grid-row: 1;
                justify-content: center;
                align-items: flex-start;
                padding: 0;
                block-size: 100%;
                background: none;

                &:before{
                    content: '';
                    position: absolute;
                    top: 6.5625rem;
                    left: 0;
                    inline-size: 9.375rem;
                    block-size: 1px;
                    background-color: white;
                }
            }

            h1, p   {
                text-align: center;

                @include tabplus{
                    inline-size: 100%;
                    text-align: left;
                }
            }

            h1{
                font-size: clamp(3rem, 2.4718rem + 2.2535vw, 4.5rem);
                line-height: clamp(3rem, 2.6479rem + 1.5023vw, 4rem);   
                font-weight: 400;
                letter-spacing: -0.67px;
                inline-size: min(14ch, 100%); 
                
                
            }

            p{
                line-height: 26px;
                font-weight: 400;
                inline-size: min(57ch, 100%)
            }

            button{
                margin-block-start: 1rem;
            }
        }
    } 
}

.navigation{
    inline-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.9375rem;
    block-size: 80px;

    @include tabplus{
        max-width: 69.375rem;
        inline-size: 100%;
    }

    &__logo{
        padding-inline  : 1.5rem;

        @include tabplus{
            padding-inline: 0;
        }
    }

    &__menu{
        margin-right: 1.5rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        block-size: 32px;
        inline-size: 32px;
        border: none;
        background:none;
        cursor: pointer;
        transition: all 300ms ease;

        @include tabplus{
            display: none;
        }

        img{
            position: absolute;
            translate: all 300ms ease;

            &.open{
                opacity: 1;
            }

            &.close{
                opacity: 0;
            }
        }

        &.menu-open{
            img{
                &.open{
                    opacity: 0;
                }
    
                &.close{
                    opacity: 1;
                }
            }
        }
    }   

    &__links{
        position: absolute;
        top: 80px;
        left: 0;
        inline-size: 100%;
        block-size: 36.6875rem;
        background-color: var(--Very-Dark-Violet);
        padding-inline: 1.5rem;
        padding-block-start: 2.5rem;

        background-image: url('../../images/bg-pattern-mobile-nav.svg');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;

        z-index: 999;

        //animation
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 300ms ease-in-out;

        @include tabplus{
            all: unset;
        }   
        
        &.show-menu{
            transform: scale(1);

            a{
                opacity: 1;
            }
        }

        ul{
            inline-size: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @include tabplus{
                flex-direction: row;

            }
        }

        li{
            display: flex;
            align-items: center;
        }
    }

    &__link{
        inline-size: 100%;

        &:last-of-type{
            a{
                border: 1.5px solid white;
                padding-block: .5rem;
                padding-inline: 28px;

                @include tabplus{
                    border-color: var(--Very-Dark-Violet);
                    color: var(--Very-Dark-Violet);
                    transition: 200ms all ease;

                    &:hover{
                        color: white;
                        background-color: var(--Very-Dark-Violet);
                    }
                }
            }
        }

        a{
            inline-size: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-family: 'Karla', sans-serif;

            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 40px;
            letter-spacing: 1.36px;
            opacity: 0;
            transition: opacity 300ms ease;

            @include tabplus{
                opacity: 1;
                color: var(--Dark-Grayish-Violet    );
                white-space: nowrap;
                font-size: .8125rem;
                line-height: 15.2px;
                letter-spacing: 1.5px;

                &:hover{
                    color: var(--Very-Dark-Violet);
                }
            }
        }
    }
}