.main{
    inline-size: 100%;
    padding-inline: 1.5rem;
    display: grid;
    gap: 8.75rem;

    @include tabplus{
        inline-size: 100%;
        max-inline-size: 69.375rem;
        padding-inline: 0;
        gap: 9.875rem;
        margin-block-start: 10.3125rem;
    }

    &__cards{
        inline-size: 100%;  
        display: grid;
        gap: 5rem;
        padding-block: 2.5rem;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            block-size: 1px;
            inline-size: 150px;
            background-color: #C396C6;

            @include tabplus{
                left: 82.5px;
            }
        }

        &__header{
            text-align: center;

            @include tabplus{
                text-align: left;
            }

            h2{
                font-size: 3rem;
                line-height: 48px;
                letter-spacing: -0.67px;
            }
        }

        &__container{
            inline-size: 100%;
            display: grid;
            gap: 3.5rem;

            @include tabplus{
                grid-template-columns: repeat(3, 1fr);
            }
        }

        &__card{
            inline-size: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            @include tabplus{
                align-items: flex-start;
            }

            &-image{
                block-size: 86px;
                inline-size: 86px;
                border-radius: 100%;
                overflow: hidden;
                margin-block-end: 1rem;
            }

            h3{
                font-size: 1.75rem;
                line-height: 38px;
                letter-spacing: -0.39px;
                color: var(--Very-Dark-Violet);
            }

            p{
                text-align: center;
                color: var(--Dark-Grayish-Violet);
                font-weight: 400;

                @include tabplus{
                    text-align: left;
                }
            }
        }
    }

    &__highlight{
        inline-size: 100%;
        padding-block: 4.5rem;
        padding-inline: clamp(1.5rem, 5%, 5rem);
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        align-items: center;
        background-color: var(--Dark-Violet);
        color: white;
        text-align: center;

        @include tabplus{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-block-start: 1.125rem;
        }
        
        h4{
            font-size: 2.5rem;
            line-height: 40px;
            letter-spacing: -0.56px;

            @include tabplus{
                inline-size: 17ch;
                text-align: left;
            }
        }
    }
}